@import "../../varibles.module";

.Block{
  background-color: $colorBlack;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-size: 2.7vw;
  //grid-gap: 1vw;
  &__lines{
    z-index: 100;
    top: -10px;
    position: absolute;
    &__line:nth-child(1){
      left: 6.96vw;
      height: 28vh;
    }
    &__line:nth-child(2){
      left: 29.9vw;
      height: 38vh;
    }
    &__line:nth-child(3){
      left: 62.9vw;
      height: 18vh;
    }
    &__line:nth-child(4){
      left: 92.9vw;
      height: 12vh;
    }
    &__line{
      position: absolute;
      background: linear-gradient(180deg, rgba(#bdc3c7,1) 0%, rgba(#2c3e50,0) 100%) ;
      width: 2px;
    }
  }
  &__left{
    position: absolute;
    width: 45vw;
    padding-top: 3vh;
    color: $colorWhite;
    margin-left: 7vw;
    b{
      margin-bottom: 100px;
    }
    &__info{
      margin-top: 30px;
      p{
        font-size: 1.5vw;
        color: rgba($colorWhite,.4);
      }
    }
  }
  &__right{
    right: 5vw;
    width: 130%;
    height: 100%;
    display: block;
    position: relative;
    svg{
      top: 0;
      right: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      polygon{
        stroke-width: 1px;
      }
    }
    &__svgBG{
      stroke: $colorWhite;
      fill: rgba($colorWhite,.1);
      &__grean{
        fill: $colorGreen;
        stroke: $colorWhite;
      }
      &__light{
        fill: $colorWhite;
        stroke: $colorBlack;
      }
    }
    &__svgBGTwo{
      fill: $colorWhite;
    }

    &__svgBGTwo{
      polygon{
        fill: $colorWhite;
        stroke: $colorWhite;
        stroke-width: 1px;
        fill-rule: nonzero;
      }
    }
    b{
      position: relative;
      left: -25px;
      text-indent: 30px;
    }
    div:nth-child(2){
      b{
        //text-align: center;
        outline: 1px solid $colorBlack;
        position: relative;
        width: 12vw;
        left: -10px;
        padding: 15px;
        margin: auto auto;
      }
    }
    div:nth-child(3){
      width: 26%;
    }
    div:nth-child(4){
      width: 26%;
    }
    div:nth-child(5){
      width: 26%;
    }
    div:nth-child(6){
      width: 26%;
    }
    div{
      font-size: 1.9vw;
      z-index: 10;
      position: absolute;
      //bottom: 70px;
      //background-color: $colorGrey;
      //width: 100vw;
      //float: right;
      //outline: 1px solid red;
      height: 9vh;
      width: 60vw;
      display: grid;
      grid-template-columns: 1fr 20fr;
      grid-gap: 1vw;
      hr{
        //right: -10vw;
        position: absolute;
        width: 62vw;
        border: 1px solid $colorBlack;
        border-image: linear-gradient(-90deg, rgba(#bdc3c7,1) 50%, rgba(#2c3e50,0) 100%);
        border-image-slice: 1;
      }
      svg{
      }
      p{
        width: 40px;
        color: $colorWhite;
        font-weight: bold;
        z-index: 10;
        margin-bottom: 20px;
        margin-left: 25px;
        margin-top: 16px;
        //outline: 1px solid red;
        transform: rotate(-57deg);
      }
      svg{
        polygon{
          fill: $colorGreen;
          stroke: $colorWhite;
          stroke-width: 1px ;
        }
      }
    }
  }
}